

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
}

.center-on-page {  position: absolute;  top:50%;  left: 50%;  transform: translate(-50%,-50%);}

p {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.7;
  }
.center
{
    text-align: center;
}

h1 {
    font-weight: 600;
    font-size: 40px;
  }
h4 {
    font-weight: 400;
    font-size: 30px;
  }

h2{
  font-weight:150;
  font-size: 16px
}

  .form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }